* {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #DEDEDE;
}

a {
    text-decoration: none;
    color: #F3C31B;
    transition: .5s;
}

a:hover {
    color: #A38212;
}

